/*-- scss:defaults --*/

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: #eeaa2c;
}

kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid mix(grey, $body-color, 20%);
  background-color: mix(grey, $body-bg, 20%);  // Changes background color
}

thead th {
  text-transform: none;
}
