# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#data


#figures & output
*.ai
*.md
!index.md

# Mac
*.DS_Store

# quarto
*/.quarto/
*/_freeze/
*/_bookdown_files/

# gganimate slides
gganim*.png

# map data
*/rosm.cache/
*/maps/
Fylker.geojson
fylker2021.json
Basisdata_46_Vestland_25832_Fylker_FGDB.gdb
flate-ihht-akvakulturregisteret20220928.geojson
GEBCO_16_Sep_2021_dd5119fb228f
05280_20230421-012359.xlsx
50N000E_20101117_gmted_med300.tif
 
