/* bioSTATS and R */

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora/lora-v24-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lora/lora-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora/lora-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora/lora-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora/lora-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora/lora-v24-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}


/*--NavBar--*/

.navbar-default {
    background-color: #14686a;
}

.navbar-default .navbar-nav>li>a {
    color:#26d5d9;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #14686a;
    background-color: #26d5d9;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    border-radius: 10px 10px 0 0;
    color: #14686a;
    background-color: #26d5d9;
}

.navbar-fixed-top {
    border-width: 0 0 0 0;
}


.navbar-default .navbar-nav>.active>a {
    font-family: 'Lora', serif;
    color: #21a5a8;
    background-color: #fafafa;
    border-radius: 10px 10px 0 0;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #fafafa;
}

.navbar-nav>li>.dropdown .open>a:focus {
    background-color: #21a5a8;
}

.dropdown-header {
  font-size: 14px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fafafa;
    background-color: #14686a;
}

/*--TOP-image-and-text-for-module-pages--*/

.top_image {
    margin-top: 0px;
    margin-bottom: 2em;
    width: 100%;
  }

.image-text{
  position: absolute;
  top:20%;
  left:0;
  right:0;
  bottom:0;
}

.lil-image-text { 
  color: white;
  margin: 0 auto 20px auto;
  padding-top: 0;
  text-align: center; 
  display:block;
  font-family: 'Lora', serif;
  font-size: 22px;
  font-size: 3vw;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: normal;
}


.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 56px;
  font-size: 4vw;
  font-family: 'Lora', serif;
  text-align: center; 
  display:block;
  color: #fff;
  margin-bottom: 3rem;
}
  

/*--Page--*/

.row-fluid{
  display: flex;
  position: relative;
}

body {
  background-color: #fafafa;
  color: #5a5a5a;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #eeaa2c;
}

blockquote {
  font-size: 14px;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.section.level1, .section.level2, .section.level3, section.level4 {
  padding-bottom: 1em !important;

}


.toc-content { /*actually, the body content*/
  width: 65%
}



/*facta box*/

.facta {
  background-color: #bbb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.facta p{
  color: #fafafa;
  padding: 5px 15px 0 0;
}

.facta h1, .facta h2, .facta h3, .facta h4, .facta h5, .facta h6{
  color:#14686a;
}

.facta code{
  background-color: #cacaca;
}

/*contributors box*/

.contributors {
  background-color: #21a5a8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.contributors li{
  color: #fafafa;
  padding: 5px 15px 0 0;
}

.contributors h1, .contributors h2, .contributors h3, .contributors h4, .contributors h5, .contributors h6{
  color:#fafafa;
}

/*--Section-Tabs--*/

.nav-tabs {
  border: 0 0 2px 0;
  border-color: #14686a !important;
}

.nav-tabs>li>a {
  color: #26d5d9;
  background-color: #14686a;
  border-radius: 7px 7px 0 0;
}

.nav-tabs>li>a:active {
  color: #14686a;
  background-color: #26d5d9;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover  {
  color: #14686a;
  background-color: #26d5d9;
  border: 1px 1px 0 1px;
  border-color: #14686a;
}

.nav-tabs>li.active>a {
  color: #eeaa2c;
  background-color: #14686a;
  border-radius: 7px 7px 0 0;
}

.nav-tabs>li.active>a:active {
  color: #eeaa2c;
  background-color: #14686a;
}

.nav-tabs>li.active>a:hover {
  color: #fafafa;
  background-color: #14686a;
}

.nav-tabs>li.active>a:focus {
  color: #eeaa2c;
  background-color: #14686a;
}

/*--Table-of-Content--*/

#TOC {
  margin: 0 0 20px 0 !important;
}

/*
.tocify {
  position: -webkit-sticky;  /*TOC is sticky*/
  position: sticky;
  top: 60px;
  width: 100%;
}
*/

div.tocify {
  width: 100% !important; /* gives the TOC full width */
  max-width: 260px;
  max-height: 85%;
  font-size: 16px;
  margin: 0 auto 20 auto /* to center the TOC within it's col-xs-12, etc. container */
}

.list-group-item.active {
  background-color: #14686a;
  color: #eeaa2c;
  border: 2px;
  border-color: #eeaa2c;
}

.list-group-item.active:hover, .list-group-item:hover {
  background-color: #14686a;
  color: #fafafa;
}


.list-group-item {
  background-color: #fafafa;
  color: #14686a;
}





/*--------------------------------------------------------Tablette--------------------------------------------------------*/

@media(min-width: 768px) and (max-width: 1388px)
{



	
/*--TOP-image-and-text-for-module-pages--*/	
	
/*--Page--*/

/*--Table-of-Content--*/
}



/*-------------------------------------------------------Smartphone-------------------------------------------------------*/

@media(max-width: 767px)
{

/*--TOP-image-and-text-for-module-pages--*/	


/*--Page--*/

/*--Table-of-Content--*/
}



